<main id="main">
  <section class="section-bg wow fadeInUp" id="sign-in">
    <div class="container shadow p-3 mb-5 bg-white rounded">
      <div class="container-separation">

        <div class="section-header">
          <h3>Error</h3>
          <h1 style="text-align: center">An error has ocurred</h1>
          <p id="UnderTitleParagraph">The team your searching for doesnt exist
          <br/>Try checking the name in home's search box</p>

        </div>
        <div class="text-center pt-3">
          <button class="btn btn-primary" id="loadContentButtonMatches" (click)="goToHome()">Return Home</button>
        </div>
      </div>

    </div>

  </section><!-- #sign-in -->

</main>
