<div aria-labelledby="v-pills-profile-tab" class="tab-panefinal-phase" id="v-pills-profile" role="tabpanel">
    <div class="container-fluid">
        <div class="row justify-content-between" style="padding-bottom: 2%;">
            <div class="col-2" style="text-align: center">Quarters</div>
            <div class="col-2" style="text-align: center">Semifinals</div>
            <div class="col-4" style="text-align: center">Final</div>
            <div class="col-2" style="text-align: center">Semifinals</div>
            <div class="col-2" style="text-align: center">Quarters</div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters1-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">team0Quarters -
                    team0QuartersPoints</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">team4Quarters -
                    team4QuartersPoints</span>
            </div>
        </div>
        <div class="row justify-content-between">
            <!--Semis1-->
            <div class="col-2"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">team0Semi -
                    team0SemiPoints</span>
            </div>
            <div class="col-4"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">team2Semi -
                    team2SemiPoints</span>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters2-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">team1Quarters
                    - team1QuartersPoints</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">team5Quarters
                    - team5QuartersPoints</span>
            </div>
        </div>


        <div class="row justify-content-between">
            <!--Final-->
            <div class="col-4"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-success">team0Final -
                    team0FinalPoints</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">team1Final -
                    team1FinalPoints</span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters3-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">team2Quarters -
                    team2QuartersPoints</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">team6Quarters -
                    team6QuartersPoints</span>
            </div>
        </div>
        <div class="row justify-content-between">
            <!--Semis2-->
            <div class="col-2"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">team1Semi -
                    team1SemiPoints</span>
            </div>
            <div class="col-4"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">team3Semi -
                    team3SemiPoints</span>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters4-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">team3Quarters
                    - team3QuartersPoints</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">team7Quarters
                    - team7QuartersPoints</span>
            </div>
        </div>
    </div>
</div>