<div aria-labelledby="v-pills-profile-tab" class="tab-panefinal-phase" id="v-pills-profile" role="tabpanel">
    <div class="container-fluid">
        <div class="row justify-content-between" style="padding-bottom: 2%;">
            <div class="col-2" style="text-align: center">Quarters</div>
            <div class="col-2" style="text-align: center">Semifinals</div>
            <div class="col-4" style="text-align: center">Final</div>
            <div class="col-2" style="text-align: center">Semifinals</div>
            <div class="col-2" style="text-align: center">Quarters</div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters1-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">{{getQuartersTeam(0, 0)}} -
                    {{getQuartersScore(0, 0)}}</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">{{getQuartersTeam(2, 0)}} -
                    {{getQuartersScore(2, 0)}}</span>
            </div>
        </div>
        <div class="row justify-content-between">
            <!--Semis1-->
            <div class="col-2"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">{{getSemisTeam(0, 0)}} -
                    {{getSemisScore(0, 0)}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">{{getSemisTeam(1, 0)}} -
                    {{getSemisScore(1, 0)}}</span>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters2-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">{{getQuartersTeam(0, 1)}}
                    - {{getQuartersScore(0, 1)}}</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">{{getQuartersTeam(2, 1)}}
                    - {{getQuartersScore(2, 1)}}</span>
            </div>
        </div>


        <div class="row justify-content-between">
            <!--Final-->
            <div class="col-4"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-success">{{getFinalTeam(0, 0)}} -
                    {{getFinalScore(0, 0)}}</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">{{getFinalTeam(0, 1)}} -
                    {{getFinalScore(0, 1)}}</span>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters3-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">{{getQuartersTeam(1, 0)}} -
                    {{getQuartersScore(1, 0)}}</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-primary">{{getQuartersTeam(3, 0)}} -
                    {{getQuartersScore(3, 0)}}</span>
            </div>
        </div>
        <div class="row justify-content-between">
            <!--Semis2-->
            <div class="col-2"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">{{getSemisTeam(0, 1)}} -
                    {{getSemisScore(0, 1)}}</span>
            </div>
            <div class="col-4"></div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">{{getSemisTeam(1, 1)}} -
                    {{getSemisScore(1, 1)}}</span>
            </div>
            <div class="col-2"></div>
        </div>
        <div class="row justify-content-between">
            <!--Quarters4-->
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">{{getQuartersTeam(1, 1)}}
                    - {{getQuartersScore(1, 1)}}</span>
            </div>
            <div class="col-2" style="text-align: center">
                <span class="badge badge-secondary">{{getQuartersTeam(3, 1)}}
                    - {{getQuartersScore(3, 1)}}</span>
            </div>
        </div>
    </div>
</div>