<div style="text-align: center;justify-content: center; " >
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Home</th>
      <th scope="col">vs</th>
      <th scope="col">Away</th>
      <th scope="col">Home Points</th>
      <th scope="col">-</th>
      <th scope="col">Away Points</th>
      <th scope="col">Tournament</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let match of getMatchesListTable(); let i = index">
      <td>{{ match.team1.teamName}}</td>
      <td>vs</td>
      <td>{{ match.team2.teamName }}</td>
      <td>{{ match.homePoints}}</td>
      <td>-</td>
      <td>{{ match.awayPoints}}</td>
      <td>{{ match.tournament.name }}</td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="pagingConfirmation">
    <div class="text-center pt-3">
      <button class="btn btn-primary" id="loadContentButtonMatches" (click)="addMatches()">Show more</button>
    </div>
  </div>
  <div *ngIf="pagingConfirmation===false">
    <ngb-alert [dismissible]="false">
      <strong>Warning</strong> There are no more matches to show
    </ngb-alert>
  </div>
</div>
