
<!--==========================
registerMatchSelectMatch Section
============================-->

<div class="section-header">
  <h3 class="section-title">Select the Match</h3>
  <h4 id="UnderTitleParagraph">{{round}}</h4>
</div>

{{#allPlayed}}
<div class="text-center pt-3">
  <h4><a href="/TenniShip/Tournaments/{{tournamentName}}" style="color: green;"><strong>Go to the Tournament</strong></a></h4>
</div>
{{/allPlayed}}

<section class="section-bg" id="registerMatchBothPages">
  <div class="container">

    {{#listMatches}} {{^admin}}
    <form action="/TenniShip/RegisterMatch/Tournaments/{{tournament.name}}/Submission" method="post">
      {{/admin}} {{#admin}}
      <form action="/TenniShip/ADMIN/Tournaments/{{tournament.name}}/EditMatches/{{type}}/Submission" method="post">
        {{/admin}}
        <div class="row">
          <div class="col-lg-4 col-md-3">
            <div class="card cardMatch">
              <div class="view overlay">
                <img alt="Card image cap" class="cardMatchImg card-img-top" src="/images/registered/teams/{{team1.teamName}}.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title TeamPositioningRegisterMatchIconLocal">
                  <a class="colorLinkTeam" href="/Teams/{{team1.teamName}}">{{team1.name}}</a>
                  <input type="hidden" name="teamHome" value="{{team1.teamName}}">
                </h4>
                <p class="card-text TeamPositioningRegisterMatchIconLocal">Local´s Team</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp ">
            <div class="registerMatchBothPages-wrap ">
              <figure>
                <img alt="" class="img-fluid rackets" src="/../img/rackets.png">
              </figure>

              <div class="registerMatchBothPages-info ">
                <h4>
                  <a href="#">Match Result</a>
                </h4>
                <div class="d-flex justify-content-around">

                  <div class="TeamPositioningRegisterMatchIconLocal">
                    <div class="def-number-input number-input safari_only">
                      <button class="minus" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                      <input class="quantity" min="0" max="3" name="quantityHome" type="number" value="{{homePoints}}">
                      <button class="plus" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                    </div>
                  </div>
                  <div class="TeamPositioningRegisterMatchIconVisitor">
                    <div class="def-number-input number-input safari_only">
                      <button class="minus" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
                      <input class="quantity" min="0" max="3" name="quantityAway" type="number" value="{{awayPoints}}">
                      <button class="plus" type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-3 ">
            <div class="card cardMatch">
              <div class="view overlay">
                <img alt="Card image cap" class="cardMatchImg card-img-top" src="/images/registered/teams/{{team2.teamName}}.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title TeamPositioningRegisterMatchIconVisitor">
                  <a class="colorLinkTeam" href="/Teams/{{team2.teamName}}">{{team2.teamName}}</a>
                  <input type="hidden" name="teamAway" value="{{team2.name}}">
                </h4>
                <p class="card-text TeamPositioningRegisterMatchIconVisitor">Visitor´s Team</p>
              </div>
            </div>
          </div>
        </div>
        <div class="centerButton">
          <button class="btn SubmitButtonMatch" type="submit">Submit</button>
        </div>
        <input type="hidden" name="_csrf" value="{{token}}">
      </form>
      {{/listMatches}}
  </div>
</section>
<!-- #registerMatchSelectMatch -->
