<div *ngIf="getTeamFileData()">
  <section class="section-bg wow fadeInUp">
    <div class="container">
      <div class="section-header">
        <div class="team-icon img-thumbnail">
          <img alt="Team logo" class="img-fluid team-img"
               [src]="imagesTeam">
        </div>
        <h3 id="teamNameIdH3">{{getTeamFileData()?.teamName}}</h3>
      </div>
      <div class="content">
        <h3>Players</h3>
        <div id="players">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp"
                   style="visibility: visible; animation-name: fadeInUp;"
                   *ngFor="let player of getTeamFileData()?.playerList; let i = index">
                <div class="member">
                  <img alt="" class="img-fluid"
                       [src]="getPlayerImage(i)">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>{{player.playerName}}</h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <h3>Tournaments</h3>
        <section class="wow fadeInUp">
          <div class="container" style=" margin:auto;">
            <carousel [itemsPerSlide]="3" [noWrap]="false" [singleSlideOffset]="true"
                      [startFromIndex]="getTeamFileData()?.tournamentList.length" [interval]="2000">
              <slide *ngFor="let tournament of getTeamFileData()?.tournamentList; let j = index"
                     style="display: inline-block; width: 20%; text-align:center;margin:auto">
                    <a [routerLink]="['','TenniShip','Tournament', tournament]">
                      <img [src]="getTournamentImage(j)" alt="image slide" style="display: block; width: 100%;">
                    </a>
              </slide>
            </carousel>
          </div>
        </section>

        <h3>Matches played</h3>
        <section class="wow fadeInUp">
          <div class="container row mb-5" style="margin:auto;">
            <app-graphic-pie [teamPieInfo]="_teamFileData" style="margin: auto;"></app-graphic-pie>
            <div class="col-sm-6 col-12">
              <h5>Tournament participation:</h5>
              <ul class="list-group tourn-part">
                  <li class="list-group-item" style="--bg: #51e28f;">Matches Won</li>
                  <li class="list-group-item" style="--bg: #dc5187;">Matches Lost</li>
              </ul>
          </div>
          </div>
          <div class="container row mb-5" style="margin:auto;">
            <app-matches-paginated style="margin: auto; width:100%"></app-matches-paginated>
          </div>
        </section>

      </div>
    </div>
  </section>
</div>

