<div *ngIf="getTournamentSheetData()">
    <section class="section-bg wow fadeInUp">
        <div class="container container-thin">
            <div class="section-header">
                <h3>{{getTournamentSheetData().tournament.name}}</h3>
                <!--
                {{#hasImage}}
                !-->
                <div class="tournament-icon img-thumbnail">
                    <!--<img alt="Tournament Image" class="tournamentPic rounded mx-auto d-block" src="/images/registered/tournaments/{{tournamentName}}.jpg">-->
                    <img alt="Tournament Image" class="tournamentPic rounded mx-auto d-block" [src]="getTournamentImage()">
                </div>
                <!--
                {{/hasImage}}
                -->
            </div>
        </div>
        <div id="progress-content" class="container">

            <div class="progress">
                <!--aria-valuenow="{{completion}}"-->
                <!--style="width: {{completion}}%;"-->
                <div aria-valuemax="100" aria-valuemin="0" class="progress-bar" role="progressbar" [style.width.%]="getTournamentSheetData().completion">
                    <span class="skill">Tournament completion: <i class="val">{{getTournamentSheetData().completion}} %</i></span>
                </div>
            </div>

        </div>
        <div id="TournamentChartDisplay">
            <div class="row" id="tournamentSwitch">

                <nav class="navbar navbar-expand-xl navbar-light bg-light">
                    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div [ngbCollapse]="isMenuCollapsed" id="nav-angular" class="theSwitch flex-column collapse navbar-collapse col-12 col-xl-1 shadow p-3 mb-5 rounded">
                        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-pills" orientation="vertical" id="v-pills-tab">
                            <li ngbNavItem="groups">
                                <a ngbNavLink>Group Phase</a>
                            </li>

                            <li ngbNavItem="final">
                                <a ngbNavLink>Final Phase</a>
                            </li>

                            <li ngbNavItem="teams">
                                <a ngbNavLink>Teams</a>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav" class="ml-4"></div>
                    </div>
                </nav>

                <div class="col-12 col-lg-10" id="tournamentSheetChart">
                    <div class="tournamentBoard shadow p-3 mb-5 bg-white rounded">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div *ngIf="active==='groups'">
                                <app-tournament-groups [dataFinalTournament]="_tournamentSheetData"></app-tournament-groups>
                            </div>
                            <div *ngIf="active==='final'">
                                <app-tournament-final [dataFinalTournament]="_tournamentSheetData"></app-tournament-final>
                            </div>
                            <div *ngIf="active==='teams'">
                                <app-tournament-teams></app-tournament-teams>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="userService.logged && userService.getIsAdmin()">
            <app-tournament-sheet-modal [tournamentName]=getTournamentName()></app-tournament-sheet-modal>
        </div>


    </section>
</div>
