<div id="v-pills-teams" class="TCreatorTeams">
    <div class="row">
        <div class="col-9">
                <form action="/TenniShip/Creator/Teams" method="post">
                    <div>
                        <div class="form formTeam">
                            <p>Enter the name of Team 1:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team1">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 2:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team2">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 3:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team3">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 4:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team4">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 5:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team5">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 6:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team6">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 7:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team7">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 8:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team8">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 9:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team9">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 10:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team10">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 11:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team11">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 12:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team12">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 13:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team13">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 14:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team14">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 15:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team15">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 16:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team16">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 17:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team17">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="form formTeam">
                            <p>Enter the name of Team 18:</p>
                            <div class="input-group flex-nowrap">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">></span>
                                </div>
                                <input class="form-control teamSearch" placeholder="Team Name" type="text" name="team18">
                            </div>
                            <div class="errorsText"> </div>
                        </div>

                        <div class="text-center pt-3 button">
                            <button class="input-group-test btn mb-3" type="submit">Next</button>
                        </div>
                    </div>
                </form>

        </div>
    </div>
</div>
