<div aria-labelledby="v-pills-seeTeams-tab" class="TeamMate tab-pane scrollspy-example" data-spy="scroll" id="v-pills-seeTeams" role="tabpanel">
    <div class="row" *ngFor="let fila of getTournamentSheetTeams(); let i = index">
        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" *ngFor="let auxClass of fila;  let j = index">
            <a [routerLink]="['','TenniShip','Team',auxClass.team.teamName]">
                <div class="member tournamentTeams">
                    <img alt="{{auxClass.team.teamName}}" class="img-fluid tournamentTeamsPic" [src]="getTeamImage(i, j)">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>{{auxClass.team.teamName}}</h4>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>