/* -----------------------
-------- TEAM.CSS --------
-------------------------- */


#main {
    margin-top: 50px;
}

h3 {
    margin-top: 30px;
}

.content h3{
    margin-top: 50px;
    font-size: 27px;
    color:#111;
    padding-left: 10px;
    border-left: 4px solid#18d26e;
    position: relative;
    right: 20px;
}
/* Team icon */

.team-icon {
    width: 200px;
    height: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content:center;
    align-items:center;
}

img.team-img, .linescroll span img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

/* Players */

.player-card {
    min-width: 136px;
    width: calc(100% / 5);
}

/* Tournament scroller list */
.linescroll {
    position: relative;
    overflow-x: hidden;
    white-space: nowrap;
}

.linescroll span {
    display: inline-flex;
    width: 200px;
    height: 200px;
    align-items:center;
    background: white;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    margin: 0 10px 0 10px;
}

.linescroll .ls-prev {
    display: block;
    position: absolute;
    border: 20px solid transparent;
    border-right: 20px solid #18d26e;
    bottom: calc(50% - 20px);
    left: -20px;
    cursor: pointer;
}

.linescroll .ls-next {
    display: block;
    position: absolute;
    border: 20px solid transparent;
    border-left: 20px solid #18d26e;
    bottom: calc(50% - 20px);
    right: -20px;
    cursor: pointer;
}





/* Player Section
--------------------------------*/

#players {
    background: #fff;
    padding: 30px 0;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}

#players .member {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
}

#players .member .member-info {
    opacity: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    transition: 0.2s;
}

#players .member .member-info-content {
    margin-top: 50px;
    transition: margin 0.2s;
}

#players .member:hover .member-info {
    background: rgba(24, 210, 110 , 0.7);
    opacity: 1;
    transition: 0.4s;
}

#players .member:hover .member-info-content {
    margin-top: 0;
    transition: margin 0.4s;
}

#players .member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
    color: #fff;
}



/* Tournaments Section
--------------------------------*/

#clients {
    padding: 60px 0;
}

#clients img {
    max-width: 100%;
    opacity: 0.5;
    transition: 0.3s;
    padding: 15px 0;
}

#clients img:hover {
    opacity: 1;
}

#clients .owl-nav,
#clients .owl-dots {
    margin-top: 5px;
    text-align: center;
}

#clients .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #ddd;
}

#clients .owl-dot.active {
    background-color: #18d26e;
}

button{
    background: #18d26e;
    color: white;
}

button button:hover {
    background: #13a456!important;
    color: #000!important;
}


