<div class="TCreatorNew">
    <div class="form">
        <div class="text-right pt-3 button">
            <button (click)="checkTournaments()" class="input-group-test btn" type="submit">Check</button>
            <p  *ngIf="next1 && !errorImg" style="font-size: 13px;color: #18d26e;" >Everything is fine. You can continue.</p>
        </div>
        <div  
            class="mt-3 elform"
            enctype="multipart/form-data">
            <div class="form-group">
                <p>Introduce the Tournament Name:</p>
                <div class="input-group flex-nowrap">
                    <div class="input-group-prepend">
                        <span class="input-group-text">></span>
                    </div>
                    <input [(ngModel)]="tournamentContent"
                        class="form-control"
                        placeholder="Tournament Name" type="text">
                </div>
                <div *ngIf="error">
                    <p class="errorsText"> {{msgError}}</p>
                </div>
            </div>

            <div class="input-group mb-3">
                <div class="custom-file">
                    <input [(ngModel)]="tournamentImage" (change)="selectFile($event)"
                        class="custom-file-input" type="file" name="image"
                        accept=".jpg" /> <label
                        class="custom-file-label">Tournament Logo</label>
                </div>
            </div>
            <div *ngIf="errorImg">
                <p class="errorsText">Missing picture</p>
            </div>
            
            <div *ngIf="next1 && !errorImg" class="text-right pt-3 button">
                <button (click)="next1Check()" class="input-group-test btn" type="submit">Next</button>
            </div>
        </div>
    </div>
</div>