<!--==========================
  registerMatchSelectTournament Section
============================-->
<section class="section-bg" id="registerMatchBothPages">
  <div class="container">

    <header class="section-header">
      <h3 class="section-title">Select the Tournament</h3>
    </header>

    <div id="tournamentListChange" class="row registerMatchBothPages-container">
      <div *ngFor="let tournament of getTournamentList(); index as i" class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp displayTournamentsHidden">
        <div class="registerMatchBothPages-wrap">
          <figure>
            <a href="/TenniShip/RegisterMatch/Tournaments/{{tournament.name}}"><img alt="" class="img-fluid" src="/images/registered/tournaments/{{tournament.name}}.jpg"></a>
          </figure>

          <div class="registerMatchBothPages-info">
            <h4><a href="/TenniShip/RegisterMatch/Tournaments/{{tournament.name}}">{{tournament.name}}</a></h4>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="morePages" class="text-center pt-3 TournamentButton">
      <button (click)="showMore()" class="button btn" id="loadContentButtonTournament" type="button">Show more</button>
    </div>
    <div *ngIf="!morePages">
      <ngb-alert [dismissible]="false">There are no more tournaments to show</ngb-alert>
    </div>

  </div>
</section><!-- #registerMatchSelectTournament -->
