<div class="form">
    <div *ngIf="invalidCredentials" class="alert  wrongmsg">{{message}}</div>
    <div *ngIf="userService.registerSucceded">
        <div class="alert successmsg">You has been registered successfully</div>
    </div>
    <form action="/TenniShip/SignIn" [formGroup]="credentials">
        <div class="form-group">
            <input class="form-control" #username formControlName="username" id="username" name="username" placeholder="Username" type="text">
            <div class="errorsText">
                <p *ngIf="emptyUsername">{{emptyMSG}}</p>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" #password formControlName="password" id="password" name="password" placeholder="Password" type="password" />
            <div class="errorsText">
                <p *ngIf="emptyPassword">{{emptyMSG}}</p>
            </div>
        </div>
        <div class="text-center pt-3">
            <button class="btn" (click)="login(username.value, password.value, $event)" type="submit">Log in</button>
        </div>
    </form>
</div>
<div class="text-center">
    <p class="pt-3">New to Tenniship? <a [routerLink]="['','TenniShip','SignUp']">Create an account!</a></p>
</div>
