<div class="form">

    <form action="/TenniShip/SignIn" [formGroup]="credentials">
        <div class="form-group">
            <input class="form-control" #username formControlName="username" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" #password formControlName="password" id="password" name="password" placeholder="Password" type="password" />
        </div>
        <div class="text-center pt-3">
            <button class="btn" (click)="login(username.value, password.value, $event)" type="submit">Log in</button>
        </div>
    </form>
</div>
<div class="text-center">
    <p class="pt-3">New to Tenniship? <a [routerLink]="['/TenniShip/SignUp']">Create an account!</a></p>
</div>