<main id="main">

    <section id="sign-in">
        <div class="container shadow p-3 mb-5 bg-white rounded">
            <div class="container-separation">

                <div class="section-header">
                    <h3>Error</h3>
                     <h1 style="text-align: center">An error has ocurred</h1>
                    <p id="UnderTitleParagraph">{{errormsg}}</p>
                </div>

                
                <div class="text-center pt-3">
                	<button class="btn" type="submit"><a  style="color: white;">Home</a></button>
                </div>
                
                
            </div>

        </div>
        
    </section>

</main>