<section class="section-bg wow fadeInUp" id="setting">
    <div class="container shadow p-3 mb-5 bg-white rounded">
        <div class="container-separation">
            <div class="section-header">
                <h3 id="Title">Register Account</h3>
                <p id="UnderTitleParagraph">Register your account on the platform Tenniship</p>
            </div>
            <div class="form">
                <h3>User Data</h3>
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form [formGroup]="userData" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
                    <div class="form-group">
                        <input class="form-control" formControlName="username" id="username" name="userName" placeholder="User Name" type="text" required>

                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="email" id="email" name="email" placeholder="Email" type="text">

                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="password" id="password" name="passwordHash" placeholder="Password" type="password">

                    </div>
                    <div class="form-group">
                        <input class="form-control" formControlName="passwordCheck" name="passwordCheck" placeholder="Confirm your Password" type="password">

                    </div>

                    <h3>Team Data</h3>
                    <div class="form-group">
                        <input class="form-control" formControlName="teamName" data-rule="minlen:1" id="name" name="team" placeholder="Team Name" type="text">
                    </div>
                    <div class="input-group mb-3">
                        <div class="custom-file">
                            <input class="custom-file-input" formControlName="teamPic" type="file" name="imageFile" accept=".jpg" /> <label aria-describedby="inputGroupFileAddon02" class="custom-file-label">Team Logo</label>
                        </div>
                    </div>

                    <div class="separation"></div>

                    <h3>Players Data</h3>

                    <h5>Player 1</h5>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" formControlName="nameplayer1" name="player1" placeholder="Player's name" type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3 pt-3">
                        <div class="custom-file">
                            <input class="custom-file-input" formControlName="picplayer1" type="file" name="imageFile" accept=".jpg"> <label aria-describedby="inputGroupFileAddon02" class="custom-file-label">Player´s photo</label>
                        </div>
                    </div>

                    <h5>Player 2</h5>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" formControlName="nameplayer2" name="player2" placeholder="Player's  name" type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3 pt-3">
                        <div class="custom-file">
                            <input class="custom-file-input" formControlName="picplayer2" type="file" name="imageFile" accept=".jpg"> <label aria-describedby="inputGroupFileAddon02" class="custom-file-label">Player´s photo</label>
                        </div>
                    </div>

                    <h5>Player 3</h5>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" formControlName="nameplayer3" name="player3" placeholder="Player's  name" type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3 pt-3">
                        <div class="custom-file">
                            <input class="custom-file-input" formControlName="picplayer3" type="file" name="imageFile" accept=".jpg"> <label aria-describedby="inputGroupFileAddon02" class="custom-file-label">Player´s photo</label>
                        </div>
                    </div>

                    <h5>Player 4</h5>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" formControlName="nameplayer4" name="player4" placeholder="Player's  name" type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3 pt-3">
                        <div class="custom-file">
                            <input class="custom-file-input" formControlName="picplayer4" type="file" name="imageFile" accept=".jpg"> <label aria-describedby="inputGroupFileAddon02" class="custom-file-label">Player´s photo</label>
                        </div>
                    </div>

                    <h5>Player 5</h5>
                    <div class="form-row">
                        <div class="col">
                            <input class="form-control" formControlName="nameplayer5" name="player5" placeholder="Player's name" type="text">
                        </div>
                    </div>
                    <div class="input-group mb-3 pt-3">
                        <div class="custom-file">
                            <input class="custom-file-input" formControlName="picplayer5" type="file" name="imageFile" accept=".jpg"> <label aria-describedby="inputGroupFileAddon02" class="custom-file-label">Player´s photo</label>
                        </div>
                    </div>

                    <div class="text-center pt-3 button">
                        <button class="input-group-test btn" type="submit">Sign Up!</button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>