<div class="TCreatorRaffle">
    <div>
        <div class="TCreatorTitles">
            <h3>Tournament Name:</h3>
            <p>nombre de prueba</p>
            <form action="/TenniShip/Creator/Raffle" method="post">
                <div class="text-right pt-3 button">
                    <button class="input-group-test btn" type="submit">Raffle</button>
                </div>
            </form>
            <h3 class="listTeams">Teams</h3>
        </div>
    </div>
    <div class="Separateboth"></div>
    <div class="TeamMate">
<!--
        <div class="row">
            {{#listTeam}}
            <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12">
                <div class="member tournamentPic">
                    <img alt="" class="img-fluid tournamentTeamsPic" src="/images/registered/teams/{{.}}.jpg">
                    <div class="member-info">
                        <div class="member-info-content">
                            <h4>{{.}}</h4>
                        </div>
                    </div>
                </div>
            </div>
            {{/listTeam}}
        </div>-->
    </div>
</div>
