<div class="section-header">
  <h3 class="section-title">Select the Match</h3>
  <h4 id="UnderTitleParagraph">{{round}}</h4>
</div>

<div *ngIf="allPlayed" class="text-center pt-3">
  <h4><a href="/TenniShip/Tournaments/{{tournament_id}}" style="color: green;"><strong>Go to the Tournament</strong></a></h4>
</div>

<section class="section-bg" id="registerMatchBothPages">
  <div class="container">

    <div *ngFor="let match of getMatchList(); index as i">
      <form [action]="actionUrl" method="post">
        <div class="row">
          <div class="col-lg-4 col-md-3">
            <div class="card cardMatch">
              <div class="view overlay">
                <img alt="Card image cap" class="cardMatchImg card-img-top" src="/images/registered/teams/{{match.team1.teamName}}.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title TeamPositioningRegisterMatchIconLocal">
                  <a class="colorLinkTeam" [routerLink]="['TenniShip', 'Teams', match.team1.teamName]">{{match.team1.teamName}}</a>
                  <input type="hidden" name="teamHome" value="{{match.team1.teamName}}">
                </h4>
                <p class="card-text TeamPositioningRegisterMatchIconLocal">Local´s Team</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp ">
            <div class="registerMatchBothPages-wrap ">
              <figure>
                <img alt="" class="img-fluid rackets" src="/../img/rackets.png">
              </figure>

              <div class="registerMatchBothPages-info ">
                <h4>
                  <a href="#">Match Result</a>
                </h4>
                <div class="d-flex justify-content-around">

                  <div class="TeamPositioningRegisterMatchIconLocal">
                    <div class="def-number-input number-input safari_only">
                      <button class="minus" type="button" (click)="changePoints(i,true,false)"></button>
                      <input class="quantity" min="0" max="3" name="quantityHome" type="number" [value]="match.homePoints">
                      <button class="plus" type="button" (click)="changePoints(i,true,true)"></button>
                    </div>
                  </div>
                  <div class="TeamPositioningRegisterMatchIconVisitor">
                    <div class="def-number-input number-input safari_only">
                      <button class="minus" type="button" (click)="changePoints(i,false,false)"></button>
                      <input class="quantity" min="0" max="3" name="quantityAway" type="number" [value]="match.awayPoints">
                      <button class="plus" type="button" (click)="changePoints(i,false,true)"></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-3 ">
            <div class="card cardMatch">
              <div class="view overlay">
                <img alt="Card image cap" class="cardMatchImg card-img-top" src="/images/registered/teams/{{match.team2.teamName}}.jpg">
              </div>
              <div class="card-body">
                <h4 class="card-title TeamPositioningRegisterMatchIconVisitor">
                  <a class="colorLinkTeam" [routerLink]="['TenniShip', 'Teams', match.team2.teamName]">{{match.team2.teamName}}</a>
                  <input type="hidden" name="teamAway" value="{{match.team2.teamName}}">
                </h4>
                <p class="card-text TeamPositioningRegisterMatchIconVisitor">Visitor´s Team</p>
              </div>
            </div>
          </div>
        </div>
        <div class="centerButton">
          <button class="btn SubmitButtonMatch" type="submit" (click)="submitMatch(i)">Submit</button>
        </div>
        <!--<input type="hidden" name="_csrf" value="{{token}}">-->
      </form>
    </div>

  </div>
</section>
