<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Error</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/../img/favicon.png" rel="icon">
    <link href="/../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/../lib/animate/animate.min.css" rel="stylesheet">
    <link href="/../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/../css/style.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div class="pull-left" id="logo">
            <h1><a class="scrollto" href="/TenniShip">TenniShip</a></h1>
        </div>

    </div>
</header><!-- #header -->


<main id="main">

    <!--==========================
      Sign In Section
    ============================-->
    <section class="section-bg wow fadeInUp" id="sign-in">
        <div class="container shadow p-3 mb-5 bg-white rounded">
            <div class="container-separation">

                <div class="section-header">
                    <h3>Error</h3>
                     <h1 style="text-align: center">An error has ocurred</h1>
                    <p id="UnderTitleParagraph">{{errormsg}}</p>
                </div>

                {{^goback}}
                <div class="text-center pt-3">
                	<button class="btn" type="submit"><a href="/TenniShip" style="color: white;">Home</a></button>
                </div>
                {{/goback}}
                
                {{#goback}}
				<div class="text-center pt-3">
					{{#admin}}
                	<button class="btn" type="submit"><a href="/TenniShip/ADMIN/Tournaments/{{tournament}}/EditMatches/{{group}}" style="color: white;">Go Back</a></button>
                	{{/admin}}
                	{{^admin}}
                	<button class="btn" type="submit"><a href="/TenniShip/RegisterMatch/Tournaments/{{tournament}}" style="color: white;">Go Back</a></button>
                	{{/admin}}
                </div>
                {{/goback}}
            </div>

        </div>
        
    </section><!-- #sign-in -->

</main>

<!--==========================
  Footer
============================-->

<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <a href="https://bootstrapmade.com/license/"><strong>BizPage</strong></a>. All Rights
            Reserved
        </div>
        <div class="credits">
            ReDesigned by paDAWans
        </div>
    </div>
</footer><!-- #footer -->

<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below if you want to use a preloader -->
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="/../lib/jquery/jquery.min.js"></script>
<script src="/../lib/jquery/jquery-migrate.min.js"></script>
<script src="/../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/../lib/easing/easing.min.js"></script>
<script src="/../lib/superfish/hoverIntent.js"></script>
<script src="/../lib/superfish/superfish.min.js"></script>
<script src="/../lib/wow/wow.min.js"></script>
<script src="/../lib/waypoints/waypoints.min.js"></script>
<script src="/../lib/counterup/counterup.min.js"></script>
<script src="/../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/../lib/isotope/isotope.pkgd.min.js"></script>
<script src="/../lib/lightbox/js/lightbox.min.js"></script>
<script src="/../lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/../js/main.js"></script>
<script src="/../js/showMoreContent.js"></script>
</body>
</html>
