{{#listTournaments}}
<div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp displayTournamentsHidden">
    <div class="registerMatchBothPages-wrap">
        <figure>
            <a href="/TenniShip/RegisterMatch/Tournaments/{{.}}"><img alt="" class="img-fluid" src="/../img/clients/tournaments/{{.}}.jpg"></a>
        </figure>

        <div class="registerMatchBothPages-info">
            <h4><a href="/TenniShip/RegisterMatch/Tournaments/{{.}}">{{.}}</a></h4>
        </div>
    </div>
</div>
{{/listTournaments}}
{{#finished}}
<div class="container">
    <div class="alert alert-secondary" id="finishedIndicator" style="text-align: center">All tournaments displayed</div>
</div>
{{/finished}}