<section class="section-bg" id="TCreator">
    <div class="container">

        <header class="section-header">
            <h3>Tournament Creator</h3>
            <p>You can already create your own tournament. Let's Go!!</p>
        </header>

        <div class="row">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div [ngbCollapse]="isMenuCollapsed" id="nav-angular" class="flex-column collapse navbar-collapse col-12 col-lg-3 shadow p-3 mb-5 rounded">
                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills" orientation="vertical">
                        <li ngbNavItem="tournament">
                            <a [class.hidePillsNoText]="!(active === 'tournament')" ngbNavLink>New Tournament</a>
                        </li>

                        <li ngbNavItem="teams">
                            <a [class.hidePillsNoText]="!(active === 'teams')" ngbNavLink>Teams</a>
                        </li>

                        <li ngbNavItem="raffle">
                            <a [class.hidePillsNoText]="!(active === 'raffle')" ngbNavLink>Raffle Teams</a>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="ml-4"></div>                   
                </div>
            </nav>
            <div class="shadow p-3 mb-5 bg-white rounded col-12 col-lg-9" id="TCreatorInfo">
                <div *ngIf="active==='tournament'">
                    <app-creator-tournament (changeToTeams)='change($event)'></app-creator-tournament>
                </div>
                <div *ngIf="active==='teams'">
                    <app-creator-teams (changeToRaffle)='change($event)'></app-creator-teams>
                </div>
                <div *ngIf="active==='raffle'">
                    <app-creator-raffle></app-creator-raffle>
                </div>   
            </div>             
        </div>
    </div>
</section>
