<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Select match - Tenniship</title>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="" name="keywords">
<meta content="" name="description">

<!-- Favicons -->
<link href="/../img/favicon.png" rel="icon">
<link href="/../img/apple-touch-icon.png" rel="apple-touch-icon">

<!-- Google Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
	rel="stylesheet">

<!-- Bootstrap CSS File -->
<link href="/../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Libraries CSS Files -->
<link href="/../lib/font-awesome/css/font-awesome.min.css"
	rel="stylesheet">
<link href="/../lib/animate/animate.min.css" rel="stylesheet">
<link href="/../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
<link href="/../lib/owlcarousel/assets/owl.carousel.min.css"
	rel="stylesheet">
<link href="/../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

<!-- Main Stylesheet File -->
<link href="/../css/style.css" rel="stylesheet">
</head>

<body>
	<!--==========================
  Header
============================-->
	<header id="header">
		<div class="container-fluid">

			<div class="pull-left" id="logo">
				<h1>
					<a class="scrollto" href="/TenniShip">TenniShip</a>
				</h1>
			</div>

			<nav id="nav-menu-container">
				<ul class="nav-menu">
					{{#registered}}
					<li class="menu-has-children"><a href="#">Actions</a>
						<ul>
							<li><a href="/TenniShip/RegisterMatch/Tournament">Register a Match</a></li>
							<li><a href="/TenniShip/Creator">Tournament Creator</a></li>
						</ul>
					</li>
					<li class="menu-has-children teamMenu"><a href="/TenniShip/Team/{{team}}">{{team}}</a>
						<ul>
							<li><a href="/TenniShip/Team/{{team}}">View Profile</a></li>
							<li>
								<form action="/logout" method="post">
									<button class="btn" type="submit">Sign Out</button>
								</form>
							</li>
						</ul>
					</li>
					<li><img alt="" class="loginImage" src="/../img/clients/client-1.png"></li>
					{{/registered}}

					{{^registered}}
					<li>
						<a class="btn btn-primary signUpIndexBtnText" href="/TenniShip/SignUp" type="submit">Sign Up</a>
					</li>
					<li>
						<a class="btn signInIndexBtnText" href="/TenniShip/SignIn" type="submit">Sign In</a>
					</li>
					{{/registered}}
				</ul>
			</nav>
			<!-- #nav-menu-container -->
		</div>
	</header>
	<!-- #header -->

	<main id="main">

		<!--==========================
      registerMatchSelectMatch Section
    ============================-->

		<div class="section-header">
			<h3 class="section-title">Select the Match</h3>
			<h4 id="UnderTitleParagraph">{{round}}</h4>
		</div>

		<section class="section-bg" id="registerMatchBothPages">
			<div class="container">
			
			{{#listMatches}}
			<form action="/RegisterMatchSucceded/{{tournament.name}}" method="post">
				<div class="row">
					<div class="col-lg-4 col-md-3">
						<div class="card">
							<div class="view overlay">
								<img alt="Card image cap" class="card-img-top" src="/../img/SpainFlag.png">
							</div>
							<div class="card-body">
								<h4 class="card-title TeamPositioningRegisterMatchIconLocal">
									<a class="colorLinkTeam" href="/Team/{{team1.name}}">{{team1.name}}</a>
									<input type="hidden" name="teamHome" value="{{team1.name}}">
								</h4>
								<p class="card-text TeamPositioningRegisterMatchIconLocal">Local´s Team</p>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp ">
						<div class="registerMatchBothPages-wrap ">
							<figure>
								<img alt="" class="img-fluid rackets" src="/../img/rackets.png">
							</figure>

							<div class="registerMatchBothPages-info ">
								<h4>
									<a href="registerMatch.html">Match Result</a>
								</h4>
								<div class="d-flex justify-content-around">

									<div class="TeamPositioningRegisterMatchIconLocal">
										<div class="def-number-input number-input safari_only">
											<button class="minus" type="button"
												onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
											<input class="quantity" min="0" max="3" name="quantityHome"
												type="number" value="{{homePoints}}">
											<button class="plus" type="button"
												onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
										</div>
									</div>
									<div class="TeamPositioningRegisterMatchIconVisitor">
										<div class="def-number-input number-input safari_only">
											<button class="minus" type="button"
												onclick="this.parentNode.querySelector('input[type=number]').stepDown()"></button>
											<input class="quantity" min="0" max="3" name="quantityAway"
												type="number" value="{{awayPoints}}">
											<button class="plus" type="button"
												onclick="this.parentNode.querySelector('input[type=number]').stepUp()"></button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="col-lg-4 col-md-3 ">
						<div class="card">
							<div class="view overlay">
								<img alt="Card image cap" class="card-img-top" src="/../img/MaltaFlag.png">
							</div>
							<div class="card-body">
								<h4 class="card-title TeamPositioningRegisterMatchIconVisitor">
									<a class="colorLinkTeam" href="/Team/{{team2.name}}">{{team2.name}}</a>
									<input type="hidden" name="teamAway" value="{{team2.name}}">
								</h4>
								<p class="card-text TeamPositioningRegisterMatchIconVisitor">Visitor´s Team</p>
							</div>
						</div>
					</div>
				</div>
				<div class="centerButton">
					<button class="btn SubmitButtonMatch" type="submit">Submit</button>
				</div>
			</form>	
			{{/listMatches}}	
			</div>
		</section>
		<!-- #registerMatchSelectMatch -->

	</main>

	<!--==========================
  Footer
============================-->
	<footer id="footer">
		<div class="container">
			<div class="copyright">
				&copy; Copyright <a href="https://bootstrapmade.com/license/"><strong>BizPage</strong></a>.
				All Rights Reserved
			</div>
			<div class="credits">ReDesigned by paDAWans</div>
		</div>
	</footer>
	<!-- #footer -->

	<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
	<!-- Uncomment below i you want to use a preloader -->
	<div id="preloader"></div>

	<!-- JavaScript Libraries -->
	<script src="/../lib/jquery/jquery.min.js"></script>
	<script src="/../lib/jquery/jquery-migrate.min.js"></script>
	<script src="/../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/../lib/easing/easing.min.js"></script>
	<script src="/../lib/superfish/hoverIntent.js"></script>
	<script src="/../lib/superfish/superfish.min.js"></script>
	<script src="/../lib/wow/wow.min.js"></script>
	<script src="/../lib/waypoints/waypoints.min.js"></script>
	<script src="/../lib/counterup/counterup.min.js"></script>
	<script src="/../lib/owlcarousel/owl.carousel.min.js"></script>
	<script src="/../lib/isotope/isotope.pkgd.min.js"></script>
	<script src="/../lib/lightbox/js/lightbox.min.js"></script>
	<script src="/../lib/touchSwipe/jquery.touchSwipe.min.js"></script>
	<!-- Contact Form JavaScript File -->
	<script src="/../contactform/contactform.js"></script>

	<!-- Template Main Javascript File -->
	<script src="/../js/main.js"></script>

</body>
</html>
