<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tournament register - Tenniship</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/../img/favicon.png" rel="icon">
    <link href="/../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/../lib/animate/animate.min.css" rel="stylesheet">
    <link href="/../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/../css/style.css" rel="stylesheet">
</head>

<body>
<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div class="pull-left" id="logo">
            <h1><a class="scrollto" href="/TenniShip/{{team}}">TenniShip</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="/TenniShip/{{team}}">Home</a></li>
                <li class="menu-has-children"><a href="#">Actions</a>
                    <ul>
                        <li><a href="/SelectTournament/{{team}}">Register a Match</a></li>
                        <li><a href="/{{team}}/Creator">Tournament Creator</a></li>
                    </ul>
                </li>
                <li><a href="/Team/{{team}}">StriderTC</a></li>
                <li><img alt="" class="rounded-circle loginImage" src="/../img/clients/client-1.png"></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->

<main id="main">

    <!--==========================
      registerMatchSelectTournament Section
    ============================-->
    <section class="section-bg" id="registerMatchBothPages">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Select the Tournament</h3>
            </header>

            <div class="row registerMatchBothPages-container">

                <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp">
                    <div class="registerMatchBothPages-wrap">
                        <figure>
                            <a href="/{{tournamentName0}}/SelectMatch/{{currentTeam}}"><img alt="" class="img-fluid" src="/../img/trophy.png"></a>
                        </figure>

                        <div class="registerMatchBothPages-info">
                            <h4><a href="/{{tournamentName0}}/SelectMatch/{{currentTeam}}">{{tournamentName0}}</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-web wow fadeInUp"
                     data-wow-delay="0.1s">
                    <div class="registerMatchBothPages-wrap">
                        <figure>
                            <a href="registerMatch.html"><img alt="" class="img-fluid" src="/../img/trophy.png"></a>
                        </figure>

                        <div class="registerMatchBothPages-info">
                            <h4><a href="/{{tournamentName1}}/SelectMatch/{{currentTeam}}">{{tournamentName1}}</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp"
                     data-wow-delay="0.2s">
                    <div class="registerMatchBothPages-wrap">
                        <figure>
                            <a href="registerMatch.html"><img alt="" class="img-fluid" src="/../img/trophy.png"></a>
                        </figure>

                        <div class="registerMatchBothPages-info">
                            <h4><a href="/{{tournamentName2}}/SelectMatch/{{currentTeam}}">{{tournamentName2}}</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-card wow fadeInUp">
                    <div class="registerMatchBothPages-wrap">
                        <figure>
                            <a href="registerMatch.html"><img alt="" class="img-fluid" src="/../img/trophy.png"></a>
                        </figure>

                        <div class="registerMatchBothPages-info">
                            <h4><a href="/{{tournamentName3}}/SelectMatch/{{currentTeam}}">{{tournamentName3}}</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-web wow fadeInUp"
                     data-wow-delay="0.1s">
                    <div class="registerMatchBothPages-wrap">
                        <figure>
                            <a href="registerMatch.html"><img alt="" class="img-fluid" src="/../img/trophy.png"></a>
                        </figure>

                        <div class="registerMatchBothPages-info">
                            <h4><a href="/{{tournamentName4}}/SelectMatch/{{currentTeam}}">{{tournamentName4}}</a></h4>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 registerMatchBothPages-item filter-app wow fadeInUp"
                     data-wow-delay="0.2s">
                    <div class="registerMatchBothPages-wrap">
                        <figure>
                            <a href="registerMatch.html"><img alt="" class="img-fluid" src="/../img/trophy.png"></a>
                        </figure>

                        <div class="registerMatchBothPages-info">
                            <h4><a href="/{{tournamentName5}}/SelectMatch/{{currentTeam}}">{{tournamentName5}}</a></h4>
                        </div>
                    </div>
                </div>

            </div>

            <div class="text-center pt-3 TournamentButton">
                <button class="button btn" type="submit">Show more</button>
            </div>

        </div>
    </section><!-- #registerMatchSelectTournament -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <a href="https://bootstrapmade.com/license/"><strong>BizPage</strong></a>. All Rights
            Reserved
        </div>
        <div class="credits">
            ReDesigned by paDAWans
        </div>
    </div>
</footer><!-- #footer -->

<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="/../lib/jquery/jquery.min.js"></script>
<script src="/../lib/jquery/jquery-migrate.min.js"></script>
<script src="/../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/../lib/easing/easing.min.js"></script>
<script src="/../lib/superfish/hoverIntent.js"></script>
<script src="/../lib/superfish/superfish.min.js"></script>
<script src="/../lib/wow/wow.min.js"></script>
<script src="/../lib/waypoints/waypoints.min.js"></script>
<script src="/../lib/counterup/counterup.min.js"></script>
<script src="/../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/../lib/isotope/isotope.pkgd.min.js"></script>
<script src="/../lib/lightbox/js/lightbox.min.js"></script>
<script src="/../lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/../js/main.js"></script>

</body>
</html>
