<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tenniship - Keep track of teams, scores and tournaments</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/../img/favicon.png" rel="icon">
    <link href="/../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/../lib/animate/animate.min.css" rel="stylesheet">
    <link href="/../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/../css/style.css" rel="stylesheet">

    <!-- Subpage Stylesheet File -->
    <link href="/../css/team.css" rel="stylesheet">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

<!--==========================
  Header
============================-->
<header id="header">
    <div class="container-fluid">

        <div class="pull-left" id="logo">
            <h1><a class="scrollto" href="/TenniShip/{{team}}">TenniShip</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="/TenniShip/{{team}}">Home</a></li>
                <li class="menu-has-children"><a href="#">Actions</a>
                    <ul>
                        <li><a href="/SelectTournament/{{team}}">Register a Match</a></li>
                        <li><a href="/{{team}}/Creator">Tournament Creator</a></li>
                    </ul>
                </li>
                <li><a href="/Team/{{team}}">StriderTC</a></li>
                <li><img alt="" class="rounded-circle loginImage" src="/../img/clients/client-1.png"></li>
            </ul>
        </nav><!-- #nav-menu-container -->
    </div>
</header><!-- #header -->


<main id="main">

    <!--==========================
      Contact Section
    ============================-->
    <section class="section-bg wow fadeInUp">
        <div class="container">

            <div class="section-header">
                <div class="team-icon img-thumbnail">
                    <img alt="Team logo" class="img-fluid team-img" src="/../img/clients/teams/{{teamName}}.jpg">
                </div>
                <h3>{{teamName}}</h3>
            </div>
            <div class="content">
                <h3>Players</h3>
                <div id="players">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp"
                                 style="visibility: visible; animation-name: fadeInUp;">
                                <div class="member">
                                    <img alt="" class="img-fluid" src="/../img/clients/{{teamName}}player1.jpg">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>{{player0}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-6 col-6 fadeInUp"
                                 style="visibility: visible; animation-name: fadeInUp;">
                                <div class="member">
                                    <img alt="" class="img-fluid" src="/../img/clients/{{teamName}}player2.jpg">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>{{player1}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp"
                                 data-wow-delay="0.1s"
                                 style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                                <div class="member">
                                    <img alt="" class="img-fluid" src="/../img/clients/{{teamName}}player3.jpg">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>{{player2}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp"
                                 data-wow-delay="0.2s"
                                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
                                <div class="member">
                                    <img alt="" class="img-fluid" src="/../img/clients/{{teamName}}player4.jpg">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>{{player3}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-4 col-sm-6 col-6 wow fadeInUp"
                                 data-wow-delay="0.3s"
                                 style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                                <div class="member">
                                    <img alt="" class="img-fluid" src="/../img/clients/{{teamName}}player5.jpg">
                                    <div class="member-info">
                                        <div class="member-info-content">
                                            <h4>{{player4}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <h3>Tournaments</h3>

                <section class="wow fadeInUp"> <!--Problem in the future-->
                    <div class="container">
                        <div class="owl-carousel clients-carousel">
                            <img alt="" src="/../img/clients/client-1.png">
                            <img alt="" src="/../img/clients/client-2.png">
                            <img alt="" src="/../img/clients/client-3.png">
                            <img alt="" src="/../img/clients/client-4.png">
                            <img alt="" src="/../img/clients/client-5.png">
                            <img alt="" src="/../img/clients/client-6.png">
                            <img alt="" src="/../img/clients/client-7.png">
                            <img alt="" src="/../img/clients/client-8.png">
                        </div>
                    </div>
                </section>

                <h3>Matches played</h3>
                <div class="container row mb-5">
                    <div class="col-sm-6 col-12">
                        <div class="pie">
                            <!-- Use "--over50: 1;" if the value is higher than 50 -->
                            <div class="pie__segment" style="--offset: 0; --value: 60; --bg: #51e28f;"></div>
                            <div class="pie__segment" style="--offset: 180; --value: 40; --bg: #dc5187;"></div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12">
                        <h5>Tournament participation:</h5>
                        <ul class="list-group tourn-part">
                            <li class="list-group-item" style="--bg: #51e28f;">Matches Won</li>
                            <li class="list-group-item" style="--bg: #dc5187;">Matches Lost</li>
                        </ul>
                    </div>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome0}} vs {{teamNameAway0}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints0}} - {{teamAwayPoints0}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament0}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome1}} vs {{teamNameAway1}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints1}} - {{teamAwayPoints1}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament1}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome2}} vs {{teamNameAway2}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints2}} - {{teamAwayPoints2}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament2}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome3}} vs {{teamNameAway3}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints3}} - {{teamAwayPoints3}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament3}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome4}} vs {{teamNameAway4}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints4}} - {{teamAwayPoints4}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament4}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome5}} vs {{teamNameAway5}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints5}} - {{teamAwayPoints5}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament5}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome6}} vs {{teamNameAway6}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints6}} - {{teamAwayPoints6}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament6}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome7}} vs {{teamNameAway7}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints7}} - {{teamAwayPoints7}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament7}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome8}} vs {{teamNameAway8}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints8}} - {{teamAwayPoints8}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament8}}</div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row row-cols-2">
                            <div class="col col-sm-6 col-12">{{teamNameHome9}} vs {{teamNameAway9}}</div>
                            <div class="col col-sm-3 col-6"> {{teamHomePoints9}} - {{teamAwayPoints9}} </div>
                            <div class="col col-sm-3 col-6">{{matchTournament9}}</div>
                        </div>
                    </li>
                </ul>
                <div class="text-center pt-3">
                    <button class="btn btn-primary" type="button">Show more</button>
                </div>
            </div>

        </div>
    </section>

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <a href="https://bootstrapmade.com/license/"><strong>BizPage</strong></a>. All Rights
            Reserved
        </div>
        <div class="credits">
            ReDesigned by paDAWans
        </div>
    </div>
</footer><!-- #footer -->

<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below if you want to use a preloader -->
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="/../lib/jquery/jquery.min.js"></script>
<script src="/../lib/jquery/jquery-migrate.min.js"></script>
<script src="/../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/../lib/easing/easing.min.js"></script>
<script src="/../lib/superfish/hoverIntent.js"></script>
<script src="/../lib/superfish/superfish.min.js"></script>
<script src="/../lib/wow/wow.min.js"></script>
<script src="/../lib/waypoints/waypoints.min.js"></script>
<script src="/../lib/counterup/counterup.min.js"></script>
<script src="/../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/../lib/isotope/isotope.pkgd.min.js"></script>
<script src="/../lib/lightbox/js/lightbox.min.js"></script>
<script src="/../lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/../js/main.js"></script>

</body>
</html>
