<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tournament register - Tenniship</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/../img/favicon.png" rel="icon">
    <link href="/../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/../lib/animate/animate.min.css" rel="stylesheet">
    <link href="/../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/../css/style.css" rel="stylesheet">
</head>

<body>
<!--==========================
  Header
============================-->
 <header id="header">
        <div class="container-fluid">

            <div class="pull-left" id="logo">
                <h1><a class="scrollto" href="/TenniShip">TenniShip</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                	{{#admin}}
                	<li class="menu-has-children teamMenu"><a href="#"><strong>ADMIN</strong></a>
                        <ul>
                            <li>
                                <form action="/logout" method="post">
                                    <button class="btn" type="submit">Sign Out</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    {{/admin}}
                    {{^admin}}
                    {{#registered}}
                    <li class="menu-has-children"><a href="#actions">Actions</a>
                        <ul>
                            <li><a href="/TenniShip/RegisterMatch/Tournament">Register a Match</a></li>
                            <li><a href="/TenniShip/Creator">Tournament Creator</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children teamMenu"><a href="#">{{team}}</a>
                        <ul>
                            <li><a href="/TenniShip/Team/{{team}}">View Profile</a></li>
                            <li>
                                <form action="/logout" method="post">
                                    <button class="btn" type="submit">Sign Out</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li><img alt="" class="rounded-circle loginImage" src="/../img/clients/teams/{{team}}.jpg"></li>
                    {{/registered}} 
                    {{^registered}}
                    <li>
                        <a class="btn btn-primary signUpIndexBtnText" href="/TenniShip/SignUp" type="submit">Sign Up</a>
                    </li>
                    <li>
                        <a class="btn signInIndexBtnText" href="/TenniShip/SignIn" type="submit">Sign In</a>
                    </li>
                    {{/registered}}
                </ul>
            </nav>
            {{/admin}}
           
            <!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

<main id="main">

    <!--==========================
      teamResults Section
    ============================-->
    <section class="section-bg" id="teamResults">
        <div class="container">

            <header class="section-header">
                <h3 class="section-title">Team search results</h3>
            </header>

            <div class="registerMatchBothPages-container container">

                <div class="alert alert-secondary" role="alert">
                    Team named "{{teamName}}" not found. Here's some similar teams:
                </div>
                {{#results}}
                <ul class="list-group">
                    {{#resultsList}}
                    <li class="list-group-item">
                        <div class="row justify-content-center">
                            <div class="col col-12 text-center"><a href="/TenniShip/Team/{{.}}">{{.}}</a></div>
                        </div>
                    </li>
                    {{/resultsList}}
                </ul>
                {{/results}}
                {{^results}}
                <br>
                <div class="alert alert-warning" role="alert">
                    No teams found with a similar name. Please try with another name.
                </div>
                {{/results}}

            </div>

        </div>
    </section><!-- #teamResults -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="copyright">
            &copy; Copyright <a href="https://bootstrapmade.com/license/"><strong>BizPage</strong></a>. All Rights
            Reserved
        </div>
        <div class="credits">
            ReDesigned by paDAWans
        </div>
    </div>
</footer><!-- #footer -->

<a class="back-to-top" href="#"><i class="fa fa-chevron-up"></i></a>
<!-- Uncomment below i you want to use a preloader -->
<div id="preloader"></div>

<!-- JavaScript Libraries -->
<script src="/../lib/jquery/jquery.min.js"></script>
<script src="/../lib/jquery/jquery-migrate.min.js"></script>
<script src="/../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/../lib/easing/easing.min.js"></script>
<script src="/../lib/superfish/hoverIntent.js"></script>
<script src="/../lib/superfish/superfish.min.js"></script>
<script src="/../lib/wow/wow.min.js"></script>
<script src="/../lib/waypoints/waypoints.min.js"></script>
<script src="/../lib/counterup/counterup.min.js"></script>
<script src="/../lib/owlcarousel/owl.carousel.min.js"></script>
<script src="/../lib/isotope/isotope.pkgd.min.js"></script>
<script src="/../lib/lightbox/js/lightbox.min.js"></script>
<script src="/../lib/touchSwipe/jquery.touchSwipe.min.js"></script>
<!-- Contact Form JavaScript File -->
<script src="/../contactform/contactform.js"></script>

<!-- Template Main Javascript File -->
<script src="/../js/main.js"></script>
<script src="/../js/showMoreContent.js"></script>

</body>
</html>
