<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{{tournamentName}} - Tenniship</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicons -->
    <link href="/../img/favicon.png" rel="icon">
    <link href="/../img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/../lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/../lib/animate/animate.min.css" rel="stylesheet">
    <link href="/../lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="/../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/../lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/../css/style.css" rel="stylesheet">
    <link href="/../css/_component-examples.scss" rel="stylesheet">

    <!-- =======================================================
      Theme Name: BizPage
      Theme URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
      Author: BootstrapMade.com
      License: https://bootstrapmade.com/license/
    ======================================================= -->
</head>

<body>

    <!--==========================
Header
============================-->
    <header id="header">
        <div class="container-fluid">

            <div class="pull-left" id="logo">
                <h1><a class="scrollto" href="/TenniShip">TenniShip</a></h1>
            </div>

            <nav id="nav-menu-container">
                <ul class="nav-menu">
                	{{#admin}}
                	<li class="menu-has-children teamMenu"><a href="#"><strong>ADMIN</strong></a>
                        <ul>
                            <li>
                                <form action="/logout" method="post">
                                    <button class="btn" type="submit">Sign Out</button>
                                    <input type="hidden" name="_csrf" value="{{token}}">
                                </form>
                            </li>
                        </ul>
                    </li>
                    {{/admin}}
                    {{^admin}}
                    {{#registered}}
                    <li class="menu-has-children"><a href="#actions">Actions</a>
                        <ul>
                            <li><a href="/TenniShip/RegisterMatch/Tournament">Register a Match</a></li>
                            <li><a href="/TenniShip/Creator">Tournament Creator</a></li>
                        </ul>
                    </li>
                    <li class="menu-has-children teamMenu"><a href="#">{{team}}</a>
                        <ul>
                            <li><a href="/TenniShip/Team/{{team}}">View Profile</a></li>
                            <li>
                                <form action="/logout" method="post">
                                    <button class="btn" type="submit">Sign Out</button>
                                    <input type="hidden" name="_csrf" value="{{token}}">
                                </form>
                            </li>
                        </ul>
                    </li>
                    <li><img alt="" class="rounded-circle loginImage" src="/../img/clients/teams/{{team}}.jpg"></li>
                    {{/registered}}
                    {{^registered}}
                    <li>
                        <a class="btn btn-primary signUpIndexBtnText" href="/TenniShip/SignUp" type="submit">Sign Up</a>
                    </li>
                    <li>
                        <a class="btn signInIndexBtnText" href="/TenniShip/SignIn" type="submit">Sign In</a>
                    </li>
                    {{/registered}}
                    {{/admin}}
                </ul>
            </nav>
            <!-- #nav-menu-container -->
        </div>
    </header>
    <!-- #header -->


    <main id="main">

        <section class="section-bg wow fadeInUp">
            <div class="container container-thin">
                <div class="section-header">
                    <h3>{{tournamentName}}</h3>
                    {{#hasImage}}
                    <div class="tournament-icon img-thumbnail">
                        <img alt="Tournament Image" class="tournamentPic rounded mx-auto d-block" src="/../img/clients/tournaments/{{tournamentName}}.jpg">
                    </div>
                    {{/hasImage}}
                </div>
            </div>
            <div id="progress-content" class="container">

                <div class="progress">
                    <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{completion}}" class="progress-bar" role="progressbar">
                        <span class="skill">Tournament completion: <i class="val">{{completion}}%</i></span>
                    </div>
                </div>

            </div>
            <div id="TournamentChartDisplay">
                <div class="row" id="tournamentSwitch">

                    <nav class="navbar navbar-expand-xl navbar-light bg-light">
                        <button aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarTogglerDemo01" data-toggle="collapse" type="button">
							<span class="navbar-toggler-icon"></span>
						</button>

                        <div class="theSwitch collapse navbar-collapse col-12 col-xl-1 shadow p-3 mb-5 rounded" id="navbarTogglerDemo01">
                            <div aria-orientation="vertical" class="nav flex-column nav-pills" id="v-pills-tab" role="tablist">
                                <a aria-controls="v-pills-home" aria-selected="true" class="nav-link active" data-toggle="pill" href="#v-pills-home" id="v-pills-home-tab" role="tab">Group phase</a> <a aria-controls="v-pills-profile" aria-selected="false"
                                    class="nav-link" data-toggle="pill" href="#v-pills-profile" id="v-pills-profile-tab" role="tab">Final phase</a> <a aria-controls="v-pills-seeTeams" aria-selected="false" class="nav-link" data-toggle="pill" href="#v-pills-seeTeams"
                                    id="v-pills-seeTeams-tab" role="tab">Teams</a>
                            </div>
                        </div>
                    </nav>
                    <div class="col-12 col-lg-10" id="tournamentSheetChart">
                        <div class="tournamentBoard shadow p-3 mb-5 bg-white rounded">
                            <div class="tab-content" id="v-pills-tabContent">

                                <div aria-labelledby="v-pills-home-tab" class="tab-pane fade show active" id="v-pills-home" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row justify-content-between" style="padding: 1%">

                                            <div class="groupCard flex-fill">
                                                <div class="container groupStage">
                                                    <div class="row justify-content-between TournamentGroup">
                                                        <div class="justify-content-between">Group A</div>
                                                        {{#adminGroups}}
                                                        <div class="icon justify-content-between">
                                                            <a href="/TenniShip/ADMIN/Tournament/{{tournamentName}}/EditMatches/A">
                                                                <i class="ion-android-create"><span
																	class="tooltiptext">Edit Results</span></i>
                                                            </a> <input type="hidden" name="group" value="A">
                                                        </div>
                                                        {{/adminGroups}}
                                                    </div>
                                                    <div class="row justify-content-between groupHeader">
                                                        <div class="col-6">Team Name</div>
                                                        <div class="col-3">Wins</div>
                                                        <div class="col-3">Points</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team0GroupA}}">{{team0GroupA}}</a></div>
                                                        <div class="col-3">{{team0GroupAMatchesWon}}</div>
                                                        <div class="col-3">{{team0GroupAPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team1GroupA}}">{{team1GroupA}}</a></div>
                                                        <div class="col-3">{{team1GroupAMatchesWon}}</div>
                                                        <div class="col-3">{{team1GroupAPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team2GroupA}}">{{team2GroupA}}</a></div>
                                                        <div class="col-3">{{team2GroupAMatchesWon}}</div>
                                                        <div class="col-3">{{team2GroupAPointsWon}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="groupCard flex-fill">
                                                <div class="container groupStage">
                                                    <div class="row justify-content-between TournamentGroup">
                                                        <div class="justify-content-between">Group B</div>
                                                        {{#adminGroups}}
                                                        <div class="icon justify-content-between">
                                                            <a href="/TenniShip/ADMIN/Tournament/{{tournamentName}}/EditMatches/B">
                                                                <i class="ion-android-create"><span
																	class="tooltiptext">Edit Results</span></i>
                                                            </a> <input type="hidden" name="group" value="B">
                                                        </div>
                                                        {{/adminGroups}}
                                                    </div>
                                                    <div class="row justify-content-between groupHeader">
                                                        <div class="col-6">Team Name</div>
                                                        <div class="col-3">Wins</div>
                                                        <div class="col-3">Points</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team0GroupB}}">{{team0GroupB}}</a></div>
                                                        <div class="col-3">{{team0GroupBMatchesWon}}</div>
                                                        <div class="col-3">{{team0GroupBPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team1GroupB}}">{{team1GroupB}}</a></div>
                                                        <div class="col-3">{{team1GroupBMatchesWon}}</div>
                                                        <div class="col-3">{{team1GroupBPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team2GroupB}}">{{team2GroupB}}</a></div>
                                                        <div class="col-3">{{team2GroupBMatchesWon}}</div>
                                                        <div class="col-3">{{team2GroupBPointsWon}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="groupCard flex-fill">
                                                <div class="container groupStage">
                                                    <div class="row justify-content-between TournamentGroup">
                                                        <div class="justify-content-between">Group C</div>
                                                        {{#adminGroups}}
                                                        <div class="icon justify-content-between">
                                                            <a href="/TenniShip/ADMIN/Tournament/{{tournamentName}}/EditMatches/C">
                                                                <i class="ion-android-create"><span
																	class="tooltiptext">Edit Results</span></i>
                                                            </a> <input type="hidden" name="group" value="C">
                                                        </div>
                                                        {{/adminGroups}}
                                                    </div>
                                                    <div class="row justify-content-between groupHeader">
                                                        <div class="col-6">Team Name</div>
                                                        <div class="col-3">Wins</div>
                                                        <div class="col-3">Points</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team0GroupC}}">{{team0GroupC}}</a></div>
                                                        <div class="col-3">{{team0GroupCMatchesWon}}</div>
                                                        <div class="col-3">{{team0GroupCPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team1GroupC}}">{{team1GroupC}}</a></div>
                                                        <div class="col-3">{{team1GroupCMatchesWon}}</div>
                                                        <div class="col-3">{{team1GroupCPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team2GroupC}}">{{team2GroupC}}</a></div>
                                                        <div class="col-3">{{team2GroupCMatchesWon}}</div>
                                                        <div class="col-3">{{team2GroupCPointsWon}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="groupCard flex-fill">
                                                <div class="container groupStage">
                                                    <div class="row justify-content-between TournamentGroup">
                                                        <div class="justify-content-between">Group D</div>
                                                        {{#adminGroups}}
                                                        <div class="icon justify-content-between">
                                                            <a href="/TenniShip/ADMIN/Tournament/{{tournamentName}}/EditMatches/D">
                                                                <i class="ion-android-create"><span
																	class="tooltiptext">Edit Results</span></i>
                                                            </a> <input type="hidden" name="group" value="D">
                                                        </div>
                                                        {{/adminGroups}}
                                                    </div>
                                                    <div class="row justify-content-between groupHeader">
                                                        <div class="col-6">Team Name</div>
                                                        <div class="col-3">Wins</div>
                                                        <div class="col-3">Points</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team0GroupD}}">{{team0GroupD}}</a></div>
                                                        <div class="col-3">{{team0GroupDMatchesWon}}</div>
                                                        <div class="col-3">{{team0GroupDPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team1GroupD}}">{{team1GroupD}}</a></div>
                                                        <div class="col-3">{{team1GroupDMatchesWon}}</div>
                                                        <div class="col-3">{{team1GroupDPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team2GroupD}}">{{team2GroupD}}</a></div>
                                                        <div class="col-3">{{team2GroupDMatchesWon}}</div>
                                                        <div class="col-3">{{team2GroupDPointsWon}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="groupCard flex-fill">
                                                <div class="container groupStage">
                                                    <div class="row justify-content-between TournamentGroup">
                                                        <div class="justify-content-between">Group E</div>
                                                        {{#adminGroups}}
                                                        <div class="icon justify-content-between">
                                                            <a href="/TenniShip/ADMIN/Tournament/{{tournamentName}}/EditMatches/E">
                                                                <i class="ion-android-create"><span
																	class="tooltiptext">Edit Results</span></i>
                                                            </a> <input type="hidden" name="group" value="E">
                                                        </div>
                                                        {{/adminGroups}}
                                                    </div>
                                                    <div class="row justify-content-between groupHeader">
                                                        <div class="col-6">Team Name</div>
                                                        <div class="col-3">Wins</div>
                                                        <div class="col-3">Points</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team0GroupE}}">{{team0GroupE}}</a></div>
                                                        <div class="col-3">{{team0GroupEMatchesWon}}</div>
                                                        <div class="col-3">{{team0GroupEPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team1GroupE}}">{{team1GroupE}}</a></div>
                                                        <div class="col-3">{{team1GroupEMatchesWon}}</div>
                                                        <div class="col-3">{{team1GroupEPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team2GroupE}}">{{team2GroupE}}</a></div>
                                                        <div class="col-3">{{team2GroupEMatchesWon}}</div>
                                                        <div class="col-3">{{team2GroupEPointsWon}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="groupCard flex-fill">
                                                <div class="container groupStage">
                                                    <div class="row justify-content-between TournamentGroup">
                                                        <div class="justify-content-between">Group F</div>
                                                        {{#adminGroups}}
                                                        <div class="icon justify-content-between">
                                                            <a href="/TenniShip/ADMIN/Tournament/{{tournamentName}}/EditMatches/F">
                                                                <i class="ion-android-create"><span
																	class="tooltiptext">Edit Results</span></i>
                                                            </a> <input type="hidden" name="group" value="F">
                                                        </div>
                                                        {{/adminGroups}}
                                                    </div>
                                                    <div class="row justify-content-between groupHeader">
                                                        <div class="col-6">Team Name</div>
                                                        <div class="col-3">Wins</div>
                                                        <div class="col-3">Points</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team0GroupF}}">{{team0GroupF}}</a></div>
                                                        <div class="col-3">{{team0GroupFMatchesWon}}</div>
                                                        <div class="col-3">{{team0GroupFPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team1GroupF}}">{{team1GroupF}}</a></div>
                                                        <div class="col-3">{{team1GroupFMatchesWon}}</div>
                                                        <div class="col-3">{{team1GroupFPointsWon}}</div>
                                                    </div>
                                                    <div class="row justify-content-between">
                                                        <div class="col-6 teamLink"><a href="/TenniShip/Team/{{team2GroupF}}">{{team2GroupF}}</a></div>
                                                        <div class="col-3">{{team2GroupFMatchesWon}}</div>
                                                        <div class="col-3">{{team2GroupFPointsWon}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div aria-labelledby="v-pills-profile-tab" class="tab-pane fade final-phase" id="v-pills-profile" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row justify-content-between" style="padding-bottom: 2%;">
                                            <div class="col-2" style="text-align: center">Quarters</div>
                                            <div class="col-2" style="text-align: center">Semifinals</div>
                                            <div class="col-4" style="text-align: center">Final</div>
                                            <div class="col-2" style="text-align: center">Semifinals</div>
                                            <div class="col-2" style="text-align: center">Quarters</div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <!--Quarters1-->
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-primary">{{team0Quarters}} -
													{{team0QuartersPoints}}</span>
                                            </div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-primary">{{team4Quarters}} -
													{{team4QuartersPoints}}</span>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <!--Semis1-->
                                            <div class="col-2"></div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-primary">{{team0Semi}} -
													{{team0SemiPoints}}</span>
                                            </div>
                                            <div class="col-4"></div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-primary">{{team2Semi}} -
													{{team2SemiPoints}}</span>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <!--Quarters2-->
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-secondary">{{team1Quarters}}
													- {{team1QuartersPoints}}</span>
                                            </div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-secondary">{{team5Quarters}}
													- {{team5QuartersPoints}}</span>
                                            </div>
                                        </div>


                                        <div class="row justify-content-between">
                                            <!--Final-->
                                            <div class="col-4"></div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-success">{{team0Final}} -
													{{team0FinalPoints}}</span>
                                            </div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-secondary">{{team1Final}} -
													{{team1FinalPoints}}</span>
                                            </div>
                                            <div class="col-4"></div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <!--Quarters3-->
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-primary">{{team2Quarters}} -
													{{team2QuartersPoints}}</span>
                                            </div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-primary">{{team6Quarters}} -
													{{team6QuartersPoints}}</span>
                                            </div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <!--Semis2-->
                                            <div class="col-2"></div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-secondary">{{team1Semi}} -
													{{team1SemiPoints}}</span>
                                            </div>
                                            <div class="col-4"></div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-secondary">{{team3Semi}} -
													{{team3SemiPoints}}</span>
                                            </div>
                                            <div class="col-2"></div>
                                        </div>
                                        <div class="row justify-content-between">
                                            <!--Quarters4-->
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-secondary">{{team3Quarters}}
													- {{team3QuartersPoints}}</span>
                                            </div>
                                            <div class="col-2" style="text-align: center">
                                                <span class="badge badge-secondary">{{team7Quarters}}
													- {{team7QuartersPoints}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div aria-labelledby="v-pills-seeTeams-tab" class="TeamMate tab-pane fade scrollspy-example" data-spy="scroll" id="v-pills-seeTeams" role="tabpanel">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12">
                                            <a href="/TenniShip/Team/{{team0GroupA}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="Team 1" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team0GroupA}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team0GroupA}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.1s">
                                            <a href="/TenniShip/Team/{{team0GroupB}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team0GroupB}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team0GroupB}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.2s">
                                            <a href="/TenniShip/Team/{{team0GroupC}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team0GroupC}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team0GroupC}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.3s">
                                            <a href="/TenniShip/Team/{{team0GroupD}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team0GroupD}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team0GroupD}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12">
                                            <a href="/TenniShip/Team/{{team0GroupE}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team0GroupE}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team0GroupE}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.1s">
                                            <a href="/TenniShip/Team/{{team0GroupF}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team0GroupF}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team0GroupF}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12">
                                            <a href="/TenniShip/Team/{{team1GroupA}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team1GroupA}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team1GroupA}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.1s">
                                            <a href="/TenniShip/Team/{{team1GroupB}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team1GroupB}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team1GroupB}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.2s">
                                            <a href="/TenniShip/Team/{{team1GroupC}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team1GroupC}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team1GroupC}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.3s">
                                            <a href="/TenniShip/Team/{{team1GroupD}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team1GroupD}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team1GroupD}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12">
                                            <a href="/TenniShip/Team/{{team1GroupE}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team1GroupE}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team1GroupE}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.1s">
                                            <a href="/TenniShip/Team/{{team1GroupF}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team1GroupF}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team1GroupF}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12">
                                            <a href="/TenniShip/Team/{{team2GroupA}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team2GroupA}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team2GroupA}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.1s">
                                            <a href="/TenniShip/Team/{{team2GroupB}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team2GroupB}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team2GroupB}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.2s">
                                            <a href="/TenniShip/Team/{{team2GroupC}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team2GroupC}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team2GroupC}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.3s">
                                            <a href="/TenniShip/Team/{{team2GroupD}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team2GroupD}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team2GroupD}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12">
                                            <a href="/TenniShip/Team/{{team2GroupE}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team2GroupE}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team2GroupE}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                        <div class="col-lg-2 col-md-3 col-sm-4 col-sm-6 col-12" data-wow-delay="0.1s">
                                            <a href="/TenniShip/Team/{{team2GroupF}}">
                                                <div class="member tournamentTeams">
                                                    <img alt="" class="img-fluid tournamentTeamsPic" src="/../img/clients/teams/{{team2GroupF}}.jpg">
                                                    <div class="member-info">
                                                        <div class="member-info-content">
                                                            <h4>{{team2GroupF}}</h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{#adminDeleting}}
            <div class="centerButton buttonTeamsManagement">
                <button class="btn" data-target="#DeleteTournamentModal" data-toggle="modal" type="button">Delete Tournament</button>
            </div>
            {{/adminDeleting}}
        </section>

        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="DeleteTournamentModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Deleting Tournament: {{tournamentName}}
                        </h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
                    </div>
                    <div class="modal-body">
                        <h6>Are you sure on deleting the tournament?</h6>
                    </div>
                    <form action="/TenniShip/ADMIN/Tournament/{{tournamentName}}/Deleted" method="post">
                        <div class="modal-footer">
                            <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                            <button class="btn buttonown" data-target="" data-toggle="modal" id="buttonDeleteTournamentConfirm" type="submit">Delete
							</button>
                        </div>
                        <input type="hidden" name="_csrf" value="{{token}}">
                    </form>
                </div>
            </div>
        </div>

        <div aria-hidden="true" aria-labelledby="exampleModalCenterTitle" class="modal fade" id="AddTeamModal" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Search the team you want</h5>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
							<span aria-hidden="true">&times;</span>
						</button>
                    </div>
                    <div class="modal-body">
                        <form class="form-inline active-green-3 mx-auto">
                            <input aria-label="Search" class="form-control form-control-plaintext m-5 w-75" placeholder="Search" type="text">
                        	<input type="hidden" name="_csrf" value="{{token}}">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" data-dismiss="modal" type="button">Cancel</button>
                        <button class="btn buttonown" data-target="" data-toggle="modal" id="" type="button">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--==========================
  Footer
============================-->

    <footer id="footer">
        <div class="container">
            <div class="copyright">
                &copy; Copyright <a href="https://bootstrapmade.com/license/"><strong>BizPage</strong></a>. All Rights Reserved
            </div>
            <div class="credits">ReDesigned by paDAWans</div>
        </div>
    </footer>
    <!-- #footer -->

    <a class="back-to-top " href="# "><i class="fa fa-chevron-up "></i></a>
    <!-- Uncomment below if you want to use a preloader -->
    <div id="preloader "></div>

    <!-- JavaScript Libraries -->
    <script src="/../lib/jquery/jquery.min.js "></script>
    <script src="/../lib/jquery/jquery-migrate.min.js "></script>
    <script src="/../lib/bootstrap/js/bootstrap.bundle.min.js "></script>
    <script src="/../lib/easing/easing.min.js "></script>
    <script src="/../lib/superfish/hoverIntent.js "></script>
    <script src="/../lib/superfish/superfish.min.js "></script>
    <script src="/../lib/wow/wow.min.js "></script>
    <script src="/../lib/waypoints/waypoints.min.js "></script>
    <script src="/../lib/counterup/counterup.min.js "></script>
    <script src="/../lib/owlcarousel/owl.carousel.min.js "></script>
    <script src="/../lib/isotope/isotope.pkgd.min.js "></script>
    <script src="/../lib/lightbox/js/lightbox.min.js "></script>
    <script src="/../lib/touchSwipe/jquery.touchSwipe.min.js "></script>
    <!-- Contact Form JavaScript File -->
    <script src="/../contactform/contactform.js "></script>

<!-- Template Main Javascript File -->
<script src="/../js/main.js"></script>
<script src="/../js/showMoreContent.js"></script>

</body>

</html>