<main id="main" class="index">
<spaheader></spaheader>
<!--==========================
  INDEX Section
============================-->
    <section id="home">
        <div class="container">
            <header class="section-header">
                <h3></h3>
            </header>

            <div class="row actions-cols">

                <div class="col-md-6 wow fadeInUp">
                    <div class="home-col">
                        <div class="img">
                            <img alt="" class="img-fluid" src="/assets/resources/static/img/trophy.png">
                            <div class="icon"><i class="ion-trophy"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Tournament Search</a></h2>
                        <div id="tournamentForm" class="form-inline active-green-3">
                            <input id="tournamentSearch" aria-label="Search" class="form-control form-control-plaintext m-5 w-75" placeholder="Search" type="search">
                        </div>
                    </div>
                </div>

                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="home-col">
                        <div class="img">
                            <img alt="" class="img-fluid" src="/assets/resources/static/img/team.png">
                            <div class="icon"><i class="ion-ios-people"></i></div>
                        </div>
                        <h2 class="title"><a href="#">Team Search</a></h2>
                        <div id="teamForm" class="form-inline active-green-3 mx-auto" >
                            <input id="teamSearch" aria-label="Search" class="form-control form-control-plaintext m-5 w-75" placeholder="Search" type="search">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- #home -->

<!--==========================
  Actions Section
============================-->

    <section id="actions">
        <div class="container">
            <header class="section-header">
                <h3></h3>
            </header>

            <div class="row actions-cols">

                <div class="col-md-6 wow fadeInUp">
                    <div class="actions-col">
                        <div class="img">
                            <img alt="" class="img-fluid" src="/assets/resources/static/img/registerMatch.jpg">
                            <div class="icon"><i class="ion-ios-tennisball"></i></div>
                        </div>
                        <h2 class="title">
                            <ng-container *ngIf="admin" >
                            <a href="/TenniShip/RegisterMatch/Tournaments" >Register a Match</a>
                            </ng-container>
                        </h2>
                        <p>
                            This section´s purpose is the insertion of the results of the matchs from a league in which your team is involved, it also lets the administrator of the league the ability to change match results. Working as a double check for the assurance of the participants.
                        </p>
                    </div>
                </div>


                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="actions-col">
                        <div class="img">
                            <img alt="" class="img-fluid" src="/assets/resources/static/img/emptyStadium.jpg">
                            <div class="icon"><i class="ion-podium"></i></div>
                        </div>
                        <h2 class="title"><a href="/TenniShip/Creator">Tournament Creator</a></h2>
                        <p>
                            The tournament creator lets you make your own tournaments, set up the teams and information, and you'll be able to manage them on the go. Now keeping track of scores and standings is easier than ever!
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- #actions -->
</main>
<spafooter></spafooter>
